﻿@model PagedList.IPagedList<ModelEF.Model.UserAccount>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh sách người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12 mb-2">
                @using (Html.BeginForm("Index", "UserAccount", FormMethod.Get))
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 offset-4">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Tìm kiếm" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="col-md-12">
                <table class="table table-striped table-hover text-center">
                    <tr>
                        <th>STT</th>
                        <th>
                            Tên đăng nhập
                        </th>
                        <th>
                            Mật khẩu
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>

                        </th>
                    </tr>
                    @{var i = 1;}
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.Id">
                        <td>
                            @i
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Passwords
                        </td>
                        @if (item.Status == 1)
                        {
                            <td class="text-success">Actived</td>
                            <td></td>
                        }
                        else
                        {
                            <td class="text-danger">Blocked</td>
                            <td>
                                @Ajax.ActionLink(" ", "Delete", new { @id = item.Id }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xoá bản ghi này?",
                               OnComplete = "$('#row_" + @item.Id + "').remove()",
                               HttpMethod = "Delete"
                           }, new {@class = "fa fa-trash text-danger" })
                            </td>
                        }


                    </tr>
                        i++;
                    }

                </table>
            </div>
            <div class="col-md-12 d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>

