﻿@model PagedList.IPagedList<ModelEF.Model.Product>
@using TestUngDung.Areas.Admin.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh sách sản phẩm </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-3 mb-2">
                <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Create")'">Thêm sản phẩm</button>
            </div>
            <div class="col-md-9">
                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 offset-4">
                                <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Tìm kiếm" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="col-md-12">
                <table class="table table-striped table-hover text-center">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Loại sản phẩm
                        </th>
                        <th>
                            Tình trạng
                        </th>
                        <th>
                            Hình ảnh
                        </th>
                        <th colspan="3">Thao tác</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Id) </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.UnitCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                               @if(item.Status ==1)
                               {
                                   <td class="text-success">
                                       Hiện
                                   </td>
                               }
                               else
                               {
                                   <td class="text-danger">
                                       Ẩn
                                   </td>
                               }
                            <td>
                                @Html.Image("../../../../" + item.Image, "alt", "100")
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Edit" onclick="window.location.href=' @Url.Action("Edit", new { id = item.Id })'">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>

                            <td>
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Delete" onclick="window.location.href=' @Url.Action("Delete", new { id = item.Id })'">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-light btn-sm rounded-0" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Edit" onclick="window.location.href=' @Url.Action("Details", new { id = item.Id })'">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-md-12 d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>