﻿@model IEnumerable<ModelEF.Model.Product>
@using TestUngDung.Areas.Admin.Models
@using System.Linq
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="background-color: lavender; margin-top: 5px; text-align: center">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            @Html.Image("../" + item.Image, "alt", "100") <br />
            @Html.DisplayFor(modelItem => item.UnitCost) <br />
            <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Products", new {id = item.Id })">Xem chi tiết</a>
        </div>
    }
</div>