﻿@model List<TestUngDung.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@if (Model == null)
{
    <p class="text-info text-center">
        Chưa có sản phẩm trong giỏ hàng
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Mã hàng</th>
                        <th>Tên hàng</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.MaSP </td>
                            <td><a target="_blank" href="@Url.Action("Details", "Sanphams", new { id = item.MaSP })"> @item.TenSP</a> </td>
                            <td>
                                <form action="@Url.Action("Update")" method="get">
                                    <input type="hidden" name="MaSP" value="@item.MaSP" />
                                    <input type="number" name="txtSoLuong" value="@item.SoLuong" min="1" />
                                    <button type="submit" class="btn btn-success">Cập nhật</button>
                                </form>
                            </td>
                            <td>@item.DonGia.ToString() VNĐ</td>
                            <td>@item.ThanhTien.ToString() VNĐ</td>
                            <td>
                                <a href="@Url.Action("DelCartItem", new { MaSP = @item.MaSP })" onclick="return confirm ('Xoá sản phẩm này ?')" class="btn btn-danger btn-sm">Xoá</a>
                            </td>
                        </tr>

                    }
                    <tr>
                        <td></td>
                        <td class="text-right ">Tổng số lượng</td>
                        <td>@Model.Sum(m => m.SoLuong)</td>
                        <td class="text-right"> Tổng thành tiền</td>
                        <td>@Model.Sum(m => m.ThanhTien) VNĐ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <form action="@Url.Action("Order","Giohang")" method="get">
                                Thông tin đặt hàng - Email: <input type="email" name="Email" />
                                --Điện thoại: <input type="text" name="Phone" />
                                <input type="submit" value="Đặt hàng" class="btn btn-success btn-sm" />
                                <a class="btn btn-success btn-sm" href="@Url.Action("Index", "Home")">
                                    Tiếp tục mua hàng
                                </a>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}


